.pokedexButton {
  background-color: #f00;
  opacity: 25%;
  text-align: left;
  color: white;
  list-style-type: none;
  border-radius: 5px;
  border: 2px solid white;
  padding: 10px;
  display: inline-block;
  width: 100%;
}

li {
  list-style-type: none;
}

ul {
  padding-left: 0;
  width: 100%;
}

#dexFrontend {
  display: inline-block;
  width: 50%;
  border: 2px solid grey;
  padding: 10px;
}

body {
  margin: 25px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#title {
  display: inline-flex;
  width: 75%;
  height: auto;
}

.detailsPopup {
  display: block;
  width: 50%;
}

.modal {
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}

.child {
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  background: white;
  position: absolute;
  transform: translate(-50%, -50%);
}
